.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.up_down {
    animation: up_downAnimation 3s infinite alternate ease-in-out;
}

@keyframes up_downAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}


.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.25rem;
    position: relative;
}

.button_link {
    text-decoration: none; 
    color: inherit;
}


.gradient {
    background: -webkit-linear-gradient(#d1ef37, #71e157);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--size-5xl);
    font-weight: 900;
    line-height: 0.73;
}

.below {
	font-size: var(--size-sm);
	color: white;
    font-weight: 500;
    margin-bottom: -0.5rem
}

.about__hr{
    border-color: #cdee38;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 0.1rem; 
  }
  
.arrow {
    height: 1.4rem;
    margin-left: 1.1rem; 
    padding-top: 0;
    margin-top: 0;
}
  

.button-64 {
	margin-left: 0.2rem;
	margin-top: 0.2rem;
    align-items: center;
    background-image: linear-gradient(#d1ef37, #71e157);
    border: 0;
    border-radius: 0.33rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
    box-sizing: border-box;
    display: flex;
    font-size: var(--size-xs);
    font-weight: 900;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 0.5rem;
    padding: 0.2rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.button-64:active,
.button-64:hover {
    box-shadow: 0 0 1rem rgba(209, 239, 55, 0.8); 
    outline: 0;
}

.button-64 span {
    background-color: #151b06;
    padding: 0.5rem 0.7rem;
    border-radius: 0.33rem;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.text {
	color: #7ee353;
}



.label {
    font-family: "Montserrat", sans-serif;
    top: 5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
	font-size: var(--size-lg);
    padding-top: 1.5rem;
}

.design {
    padding-top: -0.1rem;
    font-size: var(--size-xs);
    color: #d0ff28;
}

img {
    margin-top: 2.2rem;
    height: 13rem;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}



@media (max-width: 320px) {
    .gradient {
        font-size: var(--size-4xl); 
        line-height: 1.2;
    }

    .about__image
    {
        height: 12rem;
    }

}


@media (max-width: 262px) {
    .gradient {
        font-size: var(--size-3xl); 
        line-height: 1.2;
    }

    .about__image
    {
        height: 10rem;
    }
}

@media (max-width: 226px) {
    .gradient {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .about__image
    {
        height: 8rem;
    }
}



  /* xs */
  @media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    
    .about__content {
        gap: 1rem;
        padding-left: 1.25rem;
        position: relative;
        gap: 1.5rem;
    }
    
    
    .gradient {
        font-size: var(--size-7xl);
        font-weight: 900;
        line-height: 0.73;
    }
    
    .below {
        font-size: var(--size-base);
        color: white;
        font-weight: 500;
        margin-bottom: -0.5rem
    }

    
    .arrow {
        height: 2.5rem;
        margin-left: 1.1rem; /* Adjust the margin as needed */
        padding-top: 0;
        margin-top: 0;
    }
      
    
    .button-64 {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        background-image: linear-gradient(#d1ef37, #71e157);
        border: 0;
        border-radius: 0.33rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
        box-sizing: border-box;
        display: flex;
        font-size: var(--size-base);
        font-weight: 900;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 0.5rem;
        padding: 0.2rem;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    
    .button-64:active,
    .button-64:hover {
        box-shadow: 0 0 1rem rgba(209, 239, 55, 0.8); 
        outline: 0;
    }
    
    .button-64 span {
        background-color: #151b06;
        padding: 0.5rem 0.7rem;
        border-radius: 0.33rem;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }
    
    .text {
        color: #7ee353;
    }
    
    
    
    .label {
        font-family: "Montserrat", sans-serif;
        top: 5rem;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    
    h3 {
        font-size: var(--size-xl);
        padding-top: 1.5rem;
    }
    
    .design {
        padding-top: -0.1rem;
        font-size: var(--size-sm);
        color: #d0ff28;
    }
    
    img {
        margin-top: 2.3rem;
        height: 16.5rem;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
    
    
  }
  
  /* sm */
  @media (min-width: 640px) {
    .label {
        margin: 0 auto;
    }

    .gradient {
        font-size: var(--size-8xl);
        font-weight: 900;
        line-height: 0.73;
    }
    
    .below {
        font-size: var(--size-lg);
        color: white;
        font-weight: 500;
        margin-bottom: -0.5rem
    }

    
    .arrow {
        height: 3rem;
        margin-left: 1.1rem; /* Adjust the margin as needed */
        padding-top: 0;
        margin-top: 0;
    }
      
    
    .button-64 {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        background-image: linear-gradient(#d1ef37, #71e157);
        border: 0;
        border-radius: 0.33rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
        box-sizing: border-box;
        display: flex;
        font-size: var(--size-lg);
        font-weight: 900;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 0.5rem;
        padding: 0.2rem;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .label {
        font-family: "Montserrat", sans-serif;
        top: 5rem;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    h3 {
        font-size: var(--size-xl);
        padding-top: 1.5rem;
    }
    
    .design {
        padding-top: -0.1rem;
        font-size: var(--size-sm);
        color: #d0ff28;
    }
    
    img {
        margin-top: 2.3rem;
        height: 17.5rem;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
    
  }
  
  /* md */
  @media (min-width: 768px) {

  }
  
  /* lg */
  @media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .label {
        margin: 0 auto;
    }

    .gradient {
        font-size: var(--size-9xl);
        font-weight: 900;
        line-height: 0.73;
    }
    
    .below {
        font-size: var(--size-xl);
        color: white;
        font-weight: 500;
        margin-bottom: -0.5rem
    }

    
    .arrow {
        height: 3.2rem;
        margin-left: 1.1rem; /* Adjust the margin as needed */
        padding-top: 0;
        margin-top: 0;
    }
      
    
    .button-64 {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        background-image: linear-gradient(#d1ef37, #71e157);
        border: 0;
        border-radius: 0.33rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
        box-sizing: border-box;
        display: flex;
        font-size: var(--size-xl);
        font-weight: 900;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 0.5rem;
        padding: 0.2rem;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .label {
        font-family: "Montserrat", sans-serif;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
        margin-left: 1.5rem;
    }
    
    h3 {
        font-size: var(--size-xl);
        padding-top: 1.5rem;
    }
    
    .design {
        padding-top: -0.1rem;
        font-size: var(--size-base);
        color: #d0ff28;
    }
    
    img {
        margin-top: -6.3rem;
        height: 17.5rem;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
    

  }
  
  /* xl */
  @media (min-width: 1280px) {

    .about {
        gap: 2rem;
    }

    .gradient {
        font-size: var(--size-10xl);
        font-weight: 900;
        line-height: 0.73;
    }
    
    .below {
        font-size: var(--size-2xl);
        color: white;
        font-weight: 500;
        margin-bottom: -0.5rem
    }

    
    .arrow {
        height: 3.7rem;
        margin-left: 1.1rem; /* Adjust the margin as needed */
        padding-top: 0;
        margin-top: 0;
    }
      
    
    .button-64 {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        background-image: linear-gradient(#d1ef37, #71e157);
        border: 0;
        border-radius: 0.33rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
        box-sizing: border-box;
        display: flex;
        font-size: var(--size-2xl);
        font-weight: 900;
        justify-content: center;
        line-height: 1.8em;
        max-width: 100%;
        min-width: 0.5rem;
        padding: 0.2rem;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .label {
        font-family: "Montserrat", sans-serif;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
        margin-left: 0.5rem;
    }
    
    h3 {
        font-size: var(--size-2xl);
        padding-top: 1.5rem;
    }
    
    .design {
        padding-top: -0.1rem;
        font-size: var(--size-lg);
        color: #d0ff28;
    }
    
    img {
        margin-top: -6.3rem;
        height: 20rem;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }
    

  }
  
  /* 2xl */
  @media (min-width: 1536px) {

    .about {
        gap: 2rem;
    }

    .gradient {
        font-size: var(--size-11xl);
        font-weight: 900;
        line-height: 0.73;
    }
    
    .below {
        font-size: var(--size-3xl);
        color: white;
        font-weight: 500;
        margin-bottom: -0.5rem
    }

    
    .arrow {
        height: 3.7rem;
        margin-left: 1.1rem; /* Adjust the margin as needed */
        padding-top: 0;
        margin-top: 0;
    }
      
    
    .button-64 {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        background-image: linear-gradient(#d1ef37, #71e157);
        border: 0;
        border-radius: 0.33rem;
        box-shadow: rgba(151, 65, 252, 0.2) 0 0.5rem 0.5rem -0.5rem;
        box-sizing: border-box;
        display: flex;
        font-size: var(--size-3xl);
        font-weight: 900;
        justify-content: center;
        line-height: 2.5em;
        max-width: 100%;
        min-width: 0.5rem;
        padding: 0.2rem;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    
    
    .label {
        font-family: "Montserrat", sans-serif;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
        margin-left: 0.5rem;
    }
    
    h3 {
        font-size: var(--size-3xl);
        padding-top: 1.5rem;
    }
    
    .design {
        padding-top: -0.1rem;
        font-size: var(--size-xl);
        color: #d0ff28;
    }
    
    img {
        margin-top: -6.3rem;
        height: 24rem;
        margin-left: auto; 
        margin-right: auto; 
        display: block;
    }

    .text {
        color: #7ee353;
    }

    
  }
  