.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #000021;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav.active {
  position: fixed;
  overflow: hidden;
  overflow-x: hidden;
}
.mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 400;
    color: white;
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.mobile-nav__link:hover {
    color: #27ff7a;
}


.mobile_nav__link-line {
  border: 1px;
}

.to-top {
    background-image: url("arrow-icon.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    bottom: 16px;
    right: 25px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
      z-index: 999;
  }
  
  
  .to-top:hover {
    box-shadow: 0 0 10px rgba(142, 59, 255, 0.6); /* Shadow color: #8e3bff */
  }
  
  html {
      scroll-behavior: smooth;
  }
  
  .to-top.active {
    bottom: 32px;
      pointer-events: auto;
      opacity: 1;
  }

  

 /* xs */
 @media (min-width: 475px) {

    .to-top {
        bottom: 16px;
        right: 27px;
        width: 30px;
        height: 30px;
      }
 }
 
 /* sm */
 @media (min-width: 640px) {

    .to-top {
        bottom: 16px;
        right: 27px;
        width: 35px;
        height: 35px;
      }
 }
 
 /* md */
 @media (min-width: 768px) {
    .to-top {
        bottom: 16px;
        right: 27px;
        width: 37px;
        height: 37px;
      }
 }
 
 /* lg */
 @media (min-width: 1024px) {
    .to-top {
        bottom: 16px;
        right: 30px;
        width: 41px;
        height: 41px;
      }
}

 /* xl */
 @media (min-width: 1280px) {
    .to-top {
        bottom: 16px;
        right: 32px;
        width: 50px;
        height: 50px;
      }
 }
 
 /* 2xl */
 @media (min-width: 1536px) {

 }
 